<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.admin.mapper.AdminMapper">
    <insert id="createAdmin" useGeneratedKeys="true" keyProperty="adminId">
        insert into admin
            (username, avatar_url, power, github_id, url, node_id)
        values (#{username}, #{avatarUrl}, #{power}, #{githubId}, #{url}, #{nodeId});
    </insert>

    <insert id="registerAdmin" useGeneratedKeys="true" keyProperty="adminId">
        insert into admin (username, avatar_url, power, email, password)
        values (#{username}, #{avatarUrl}, #{power}, #{email}, #{password});
    </insert>

    <select id="selectById" resultType="com.blog.admin.entity.Admin">
        select * from admin where admin_id=#{adminId}
    </select>

    <select id="login" resultType="com.blog.admin.entity.Admin">
        select * from admin where username=#{username}
    </select>

    <delete id="delete" >
        delete from admin where admin_id=#{adminId}
    </delete>

    <select id="selectByEmail" resultType="com.blog.admin.entity.Admin">
        select * from admin where email=#{email} and password=#{password}
    </select>

    <update id="updateInfo" >
        update admin
        <set>
            <if test="username != '' and username != null">
                username=#{username},
            </if>
            <if test="avatarUrl != '' and avatarUrl != null">
                avatar_url=#{avatarUrl},
            </if>
            <if test="email != '' and email != null">
                email=#{email},
            </if>
            <if test="password != '' and password != null">
                password=#{password},
            </if>
            <if test="githubId != '' and githubId != null">
                github_id=#{githubId},
            </if>
            <if test="url != '' and url != null">
                url=#{url},
            </if>
            <if test="nodeId != '' and nodeId != null">
                node_id=#{nodeId},
            </if>
        </set>
        where admin_id=#{adminId};
    </update>

    <select id="selectGithub" resultType="com.blog.admin.entity.Admin">
        select *
        from admin where github_id=#{githubId} and node_id=#{nodeId};
    </select>

    <insert id="createAdminGithub" keyProperty="adminId" useGeneratedKeys="true">
        insert into admin (username, node_id, avatar_url, url, github_id, power)
        values (#{username}, #{nodeId}, #{avatarUrl}, #{url}, #{githubId}, #{power});
    </insert>

</mapper>