<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.article.mapper.ArticleMapper">
    <insert id="create" useGeneratedKeys="true" keyProperty="articleId">
        insert into
            article (title, body, article_state, create_time, update_time, admin_id)
        values
            (#{title}, #{body}, #{articleState}, #{createTime}, #{updateTime}, #{adminId});
    </insert>
</mapper>